*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.codechef-badges img{
  width: 300px;
  margin:15px;
}

h2{
  color:rgb(141, 6, 141);
}

h3{
  color:rgb(7, 24, 79);
  font-size: 20px;
}

.achievements-list{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;

}