*{
  margin: 0;
  padding: 0;
  padding:10px;
}

.contact-container{
  min-height: 88vh;
  padding:10px;
  width: 50%;
  margin: auto;
}

.contact-container p{
  margin: auto;
  width: 100%;
}

.contact-form *{
  padding: 7px;
  border-radius: 10px;
  align-content: center;
  margin: 10px;
}

form{
  border: 2px solid rgb(132, 75, 0);
  width: 50%;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
}

img{
  width: 40px;
  border-radius: 10px;
}


.contact-info{
  display: flex;
  flex-direction: row;
  width: 20vw;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  margin: 10px auto;
  height: 30vh;
}


.contact-info a:hover{
  background-color: wheat;
}
.contact-info a:hover img{
  border: 2px solid magenta;
}