*{
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body{
  background-color: rgb(255, 255, 255);
}
.main{
  color:rgb(151, 97, 4);
  font-size: 20px;
  padding: 20px;
}

p{
  text-align: center;
  width: 70vw;
  margin: auto;
}

.cta-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.cta-buttons a{
  color:rgb(255, 255, 255);
  font-weight: bolder;
  border: 1px solid rgb(2, 130, 185);
  border-radius: 5px;
  background-color: rgb(138, 20, 89);
}

.cta-buttons a:hover{
  background-color: rgb(2, 130, 185);
  color: white;
  transition: background-color 0.3s ease;
}

.skills-grid{
  display: grid;
  grid-template-columns: 50% 50% ;
}

.skills{
  width: 60vw;
  margin: auto;
}

.skills h3{
  color: rgb(79, 2, 2);
  font-size: 30px;
  margin: 20px;
}

.skills-grid li{
  font-weight: bolder;
  color: rgb(4, 49, 67);
  font-size: 25px;
  padding:5px;
  margin:10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.highlight{
  color: rgb(7, 62, 114);
  font-weight: bolder;
  font-size: 35px;
}


.profile-image img{
  border: 2px solid rgb(4, 88, 42);
  width:fit-content;
  border-radius: 50%;
  overflow: hidden;
}