*{
  margin: 0;
  padding: 0;
  text-align: center;
}

ul{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding :10px;
  border:2px solid rgb(96, 87, 87);
  background-color: rgb(112, 0, 69);
}

a{
  color:white;
  text-decoration: none;
  padding :5px;
  font-weight: bolder;
}


a:hover{
  color: rgb(240, 81, 187);
  
}

body{
  background-color: rgb(240, 226, 171);
}



.nav-box{
  width: 100vw;
}
