*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project{
  height: 40vh;
  width: 70vw;
  border: 2px solid rgb(37, 2, 2);
  background-color: rgb(255, 251, 253); 
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin: 20px auto;
  padding:10px;
}

.projects-container{
  width: 100vw;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.project h2{
  color:rgb(4, 71, 73);
}

.project p{
  color:rgb(80, 77, 6);
  font-size: 18px;
}

.project strong{
  color: brown;
}